
@{
                /**/

                ViewBag.Title = "admin_leftbar";
}

<!-- Header Start -->
<div class="main-menu menu-fixed menu-dark menu-accordion menu-shadow" data-scroll-to-active="true">
    <div class="main-menu-content">
        <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
            <li class=" nav-item"><a href="/"><i class="la la-home"></i><span class="menu-title" data-i18n="nav.dash.main">Dashboard</span><span class="badge badge badge-info badge-pill float-right mr-2">3</span></a></li>
            <!-- Navigation Header -->
            <li class=" navigation-header">
                <span data-i18n="nav.category.layouts">Create, Read & Delete</span><i class="fa fa-edit" aria-hidden="true"></i>
            </li>

            <li class=" nav-item">
                <a href="#"><i class="fa fa-edit" aria-hidden="true"></i><span class="menu-title" data-i18n="nav.page_layouts.main">Albums</span></a>
                <ul class="menu-content">
                    <li>
                        <a class="menu-item" href="/dashboard/Albums/Create" data-i18n="nav.page_layouts.1_column">Add Albums</a>
                    </li>
                    <li>
                        <a class="menu-item" href="/dashboard/Albums/" data-i18n="nav.page_layouts.1_column">List Albums</a>
                    </li>
                </ul>
            </li>



            <li class=" nav-item">
                <a href="#"><i class="fa fa-edit" aria-hidden="true"></i><span class="menu-title" data-i18n="nav.page_layouts.main">Artist</span></a>
                <ul class="menu-content">
                    <li>
                        <a class="menu-item" href="/dashboard/Artists/Create" data-i18n="nav.page_layouts.1_column">Add Artist</a>
                    </li>
                    <li>
                        <a class="menu-item" href="/dashboard/Artists/" data-i18n="nav.page_layouts.1_column">List Artist</a>
                    </li>
                </ul>
            </li>



            <li class=" nav-item">
                <a href="#"><i class="fa fa-edit" aria-hidden="true"></i><span class="menu-title" data-i18n="nav.page_layouts.main">Downloads</span></a>
                <ul class="menu-content">
                    <li>
                        <a class="menu-item" href="/dashboard/Downloads/Create" data-i18n="nav.page_layouts.1_column">Add Downloads</a>
                    </li>
                    <li>
                        <a class="menu-item" href="/dashboard/Downloads/" data-i18n="nav.page_layouts.1_column">List Downloads</a>
                    </li>
                </ul>
            </li>



            <li class=" nav-item">
                <a href="#"><i class="fa fa-edit" aria-hidden="true"></i><span class="menu-title" data-i18n="nav.page_layouts.main">Genres</span></a>
                <ul class="menu-content">
                    <li>
                        <a class="menu-item" href="/dashboard/Genres/Create" data-i18n="nav.page_layouts.1_column">Add Genres</a>
                    </li>
                    <li>
                        <a class="menu-item" href="/dashboard/Genres/" data-i18n="nav.page_layouts.1_column">List Genres</a>
                    </li>
                </ul>
            </li>



            <li class=" nav-item">
                <a href="#"><i class="fa fa-edit" aria-hidden="true"></i><span class="menu-title" data-i18n="nav.page_layouts.main">Purchases</span></a>
                <ul class="menu-content">
                    <li>
                        <a class="menu-item" href="/dashboard/Purchases/Create" data-i18n="nav.page_layouts.1_column">Add Purchases</a>
                    </li>
                    <li>
                        <a class="menu-item" href="/dashboard/Purchases/" data-i18n="nav.page_layouts.1_column">List Purchases</a>
                    </li>
                </ul>
            </li>



            <li class=" nav-item">
                <a href="#"><i class="fa fa-edit" aria-hidden="true"></i><span class="menu-title" data-i18n="nav.page_layouts.main">Recently Played Songs</span></a>
                <ul class="menu-content">
                    <li>
                        <a class="menu-item" href="/dashboard/RecentlyPlayeds/Create" data-i18n="nav.page_layouts.1_column">Add Recently Played Songs</a>
                    </li>
                    <li>
                        <a class="menu-item" href="/dashboard/RecentlyPlayeds/" data-i18n="nav.page_layouts.1_column">List Recently Played Songs</a>
                    </li>
                </ul>
            </li>



            <li class=" nav-item">
                <a href="#"><i class="fa fa-edit" aria-hidden="true"></i><span class="menu-title" data-i18n="nav.page_layouts.main">Songs</span></a>
                <ul class="menu-content">
                    <li>
                        <a class="menu-item" href="/dashboard/Songs/Create" data-i18n="nav.page_layouts.1_column">Add Songs</a>
                    </li>
                    <li>
                        <a class="menu-item" href="/dashboard/Songs/" data-i18n="nav.page_layouts.1_column">List Songs</a>
                    </li>
                </ul>
            </li>

            <li class=" nav-item">
                <a href="#"><i class="fa fa-edit" aria-hidden="true"></i><span class="menu-title" data-i18n="nav.page_layouts.main">Users</span></a>
                <ul class="menu-content">
                    <li>
                        <a class="menu-item" href="/dashboard/Users/Create" data-i18n="nav.page_layouts.1_column">Add Users</a>
                    </li>
                    <li>
                        <a class="menu-item" href="/dashboard/Users/" data-i18n="nav.page_layouts.1_column">List Users</a>
                    </li>
                </ul>
            </li>

        </ul>
    </div>
</div>
<!-- Header ENd -->
